extends layout

block content
  nav(role='navigaton').navbar.navbar-static-top.navbar-inverse
    div.container-fluid
      div.navbar-header
        a(href='#').navbar-brand Streamer

  table.table.table-striped
    each file in files
      tr
        td
          a(href="/play?" + file.file)
            div.file= file.name

  p= results
