extends layout

block content
  nav(role='navigaton').navbar.navbar-static-top.navbar-inverse
    div.container-fluid
      div.navbar-header
        a(href='#').navbar-brand
          strong.logo-normal Audio
          span.lobster.logo-lobster Streamer
      div.navbar-right
        a(href='#').navbar-text.right
          span#upload.glyphicon.glyphicon-cloud-upload.larger-font

  table.table.table-striped
    each file in files
      if file.sub
        tr
          td
            div(data-back="true").file
              span.glyphicon.glyphicon-share-alt.backwards.play-button
              span Back

      tr
        td
          div(data-file=file.file).file
            if file.dir
              if file.sub
                span.glyphicon.glyphicon-folder-open.play-button.sub
              else
                span.glyphicon.glyphicon-folder-open.play-button
            else
              if file.sub
                span.glyphicon.glyphicon-play.play-button.sub
              else
                span.glyphicon.glyphicon-play.play-button
            span= file.name

  div#player_container
