extends layout

block content

  table.table.table-striped
    if files[0].sub
      tr
        td
          div(data-back="true").file
            span.glyphicon.glyphicon-share-alt.backwards.play-button
            span Back
    each file in files

      tr
        td
          if file.dir
            div(data-file=file.file).file
              if file.sub
                span.glyphicon.glyphicon-folder-open.play-button.sub
              else
                span.glyphicon.glyphicon-folder-open.play-button
              span.file-name= file.name
          else
            div(data-file=file.file).file.playable
              if file.sub
                span.glyphicon.glyphicon-music.play-button.sub
              else
                span.glyphicon.glyphicon-music.play-button
              span.file-name
              span.artist-name

  div#player-frame
    audio#player
      source#source(type="audio/mpeg")
    span#play.glyphicon.glyphicon-play
    span#skip-back.glyphicon.glyphicon-step-backward
    div.progress#progress
      input(type='range')#seeker
      div(role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')#progressbar.progress-bar
      div(role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')#seekbar.progress-bar.progress-bar-info
    span#skip-forward.glyphicon.glyphicon-step-forward
    span#mute.glyphicon.glyphicon-volume-down
