extends layout

block content

  table.table.table-striped

  div#player-frame
    audio#player
      source#source(type="audio/mpeg")
    span#play.glyphicon.glyphicon-play
    span#skip-back.glyphicon.glyphicon-step-backward
    div.progress#progress
      input(type='range')#seeker
      div(role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')#progressbar.progress-bar
      div(role='progressbar', aria-valuemin='0', aria-valuemax='100', aria-valuenow='0')#seekbar.progress-bar.progress-bar-info
    span#skip-forward.glyphicon.glyphicon-step-forward
    span#mute.glyphicon.glyphicon-volume-down
