extends layout

block content
  nav(role='navigaton').navbar.navbar-static-top.navbar-inverse
    div.container-fluid
      div.navbar-header
        a(href='#').navbar-brand
          strong.logo-normal Audio
          span.lobster.logo-lobster Streamer
      div.navbar-right
        a(href='#').navbar-text.right
          span#upload.glyphicon.glyphicon-cloud-upload.larger-font

  table.table.table-striped
    each file in files
      tr
        td
          div(data-file=file.file).file
            span.glyphicon.glyphicon-play.play-button
            span= file.name

  div#player_container
