doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title AudioStreamer
    script.
      var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = 'stylesheets/style.css';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
      }
      var raf = requestAnimationFrame || mozRequestAnimationFrame ||webkitRequestAnimationFrame || msRequestAnimationFrame;
      if (raf) raf(cb);
      else window.addEventListener('load', cb);

  body
    div.container-fluid.main-container
      nav(role='navigaton').navbar.navbar-fixed-top.navbar-inverse
        div.container-fluid
          div.navbar-header
            a(href='/').navbar-brand
              strong.logo-normal Audio
              span.lobster.logo-lobster Streamer
            span.navbar-text.navbar-right.folder-size= Math.floor(size/1024/1024) + " MB"
            span.navbar-text.navbar-right.current-time.folder-size
            span.navbar-text.navbar-right.seek-time.folder-size.info
      div.container-fluid.main-container
        block content

    footer.footer
      div.container
        p.text-muted made by&nbsp;
          a(href="//github.com/totu").text-muted totu


    script(src='javascripts/jquery-2.1.1.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/bootbox.min.js')
    script(src='javascripts/main.js')
