@import url('//fonts.googleapis.com/css?family=Lobster|Raleway|Montserrat')
@import url('bootstrap.min.css')

*
  font-family: 'Raleway', sans-serif
  font-size: large

.lobster
  font-family: 'Lobster', cursive !important

.logo-normal
  font-size: 20px

.logo-lobster
  font-size: 22px

.navbar
  margin-bottom: 0 !important

.navbar-header
  min-width: 100%

.navbar-text
  margin: 15px 0 !important

body
  .main-container
    padding: 0 !important
    display: block

.footer
  position: fixed
  bottom: 0
  border-top: 1px solid #ddd
  width: 100%
  height: 54px
  background: #f5f5f5
  text-align: center
  vertical-align: middle
  p, a
    font-size: 12px
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
    margin: 18px 0 0 0
  a
    color: #337AB7

span.warning
  color: #F0AD4E !important

span.info
  color: #5BC0DE !important

div.file
  width: 100%
  height: 100%

div.file:hover
  cursor: pointer
  color: #337AB7

table
  border-bottom: 1px solid #ddd
  margin: 53px 0 !important

.play-button
  text-align: center
  margin: 0 10px

.larger-font
  font-size: 20px
  padding: 0
  margin: 0

.navbar-brand
  font-size: 24px !important

.sub
  margin-left: 25px

.backwards
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
  unicode-bidi:bidi-override;
  direction:rtl;

.folder-size
  font-family: 'Montserrat', sans-serif
  font-weigth: 400
  font-size: 16px
  padding: 0 25px 0 0
  margin: 0
  float: right

.selected
  color: #337AB7

#player-frame
  display: none
  text-align: center
  height: 53px
  width: 100%
  background: #222
  border-radius: 0
  position: fixed
  bottom: 0
  z-index: 1000
  color: #9D9D9D

#play, #mute, #skip-back, #skip-forward
  font-size: 30px
  padding: 10px
  width: 53px
  background: #222

#play:hover, #mute:hover, #skip-back:hover, #skip-forward:hover
  cursor: pointer

#play:active, #mute:active, #skip-back:active, #skip-forward:active
  color: #337AB7

#play
  position: absolute
  left: 0
  border-right: 1px solid #2b2b2b

#mute
  position: absolute
  right: 0
  border-left: 1px solid #2b2b2
  padding-left: 16px

#skip-back
  position: absolute
  left: 53px
  border-right: 1px solid #2b2b2b

#skip-forward
  position: absolute
  right: 53px
  border-right: 1px solid #2b2b2b

#progress
  background: #2b2b2b !important
  height: 100%
  margin: 0 106px !important
  padding: 0
  border-radius: 0

#progressbar, #seekbar
  height: 100%
  color: #222
  font-family: 'Montserrat', sans-serif
  position: relative
  top: -53px
  z-index: 1

#seekbar
  display: none

#seeker
  height: 100%
  position: relative
  z-index: 10
  opacity: 0.0
